###########
# general #
###########
*.root
*bk*
*log
*test*
*scratch*

################################
# specific to compiler objects #
################################
obj
sobj
ana
*.o
*.so
*.d
#########################
# specific to rootcint #
#########################
ep_dict.h
ep_dict.cpp

###################
# python specific #
###################
*.pyc
*.h5

##################
# ipynb specific #
##################
*Untitled0*
*.ipynb_checkpoints*

##################
# latex specific #
##################
*latexmk
*.out
*.gz
*.aux
*.log
*.toc
