###########
# general #
###########
*.root
*bk*
*log*
*test*
*scratch*
*datadir*
*tmp*

################################
# specific to compiler objects #
################################
obj
sobj
proc_h10
*.o
*.so
*.d
#########################
# specific to rootcint #
#########################
ep_dict.h
ep_dict.cpp

###################
# python specific #
###################
*.pyc
*.h5

##################
# ipynb specific #
##################
*Untitled*
*.ipynb_checkpoints*
*Copy*

##################
# latex specific #
##################
*latexmk
*.out
*.gz
*.aux
*.log
*.toc

########################
# libreoffice specific #
########################
*~lock*odp#

#####################################
# specific to various subdirectories#
#####################################

# sub_studies
sub_studies/study_vars/q2w2/exp_nmcor/mmppip/mmppip*.png
sub_studies/study_vars/q2w2/exp_ymcor/mmppip/mmppip*.png
sub_studies/study_vars/q2w2/sim_nmcor/mmppip/mmppip*.png
