###########
# general #
###########
ana2pi
*.o
*.so
*.d
*bk*
*log
*test*
*scratch*

###################
# python specific #
###################
*.pyc
*.h5

##################
# ipynb specific #
##################
*Untitled0*
*.ipynb_checkpoints*

##################
# latex specific #
##################
*latexmk
*.out
*.gz
*.aux
*.log
*.toc
